@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url(./font/pretendard/Pretendard-Black.subset.woff2) format("woff2"),
    url(./font/pretendard/Pretendard-Black.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url(./font/pretendard/Pretendard-ExtraBold.subset.woff2) format("woff2"),
    url(./font/pretendard/Pretendard-ExtraBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(./font/pretendard/Pretendard-Bold.subset.woff2) format("woff2"),
    url(./font/pretendard/Pretendard-Bold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url(./font/pretendard/Pretendard-SemiBold.subset.woff2) format("woff2"),
    url(./font/pretendard/Pretendard-SemiBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url(./font/pretendard/Pretendard-Medium.subset.woff2) format("woff2"),
    url(./font/pretendard/Pretendard-Medium.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(./font/pretendard/Pretendard-Regular.subset.woff2) format("woff2"),
    url(./font/pretendard/Pretendard-Regular.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url(./font/pretendard/Pretendard-Light.subset.woff2) format("woff2"),
    url(./font/pretendard/Pretendard-Light.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url(./font/pretendard/Pretendard-ExtraLight.subset.woff2) format("woff2"),
    url(./font/pretendard/Pretendard-ExtraLight.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url(./font/pretendard/Pretendard-Thin.subset.woff2) format("woff2"),
    url(./font/pretendard/Pretendard-Thin.subset.woff) format("woff");
}

@font-face {
  font-family: "DM-serif";
  font-weight: 400;
  /*font-display: swap;*/
  src: url(./font/dm-serif.woff2) format("woff2");
}
