@charset "UTF-8";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  opacity: 1;
  width: auto;
  height: auto;
  margin: 0;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  transform: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: none;
  color: var(--color-black2);
}

.swiper-pagination-bullet-active {
  background: none;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  display: flex;
}

html[lang=ko] .header .language-box .language .lang-list .lang-item.en {
  color: rgba(0, 0, 0, 0.2);
}
html[lang=ko] .header .language-box .language .lang-list .lang-item.en:hover {
  color: #000;
}
html[lang=ko] .header .menu .lang-list .lang-item.kr {
  color: #fff;
}

html[lang=en] .header .language-box .language .lang-list .lang-item.kr {
  color: rgba(0, 0, 0, 0.2);
}
html[lang=en] .header .language-box .language .lang-list .lang-item.kr:hover {
  color: #000;
}
html[lang=en] .header .menu .lang-list .lang-item.en {
  color: #fff;
}

html.modal-active body {
  overflow: hidden;
}
.body-bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
}

#wrapper {
  position: relative;
  z-index: 20;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 7.1rem;
}
.header .header-wrap {
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.header .logos {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  width: 300px;
}
.header .gnb .menu-btn {
  display: none;
}
.header .gnb .menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.header .gnb .menu-item.visual, .header .gnb .menu-item.greeting {
  display: none;
}
.header .gnb .menu-item .menu-anchor {
  text-decoration: none;
}
.header .gnb .menu-item .menu-anchor > span {
  color: var(--color-black2);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
}
.header .gnb .lang-list {
  display: none;
}
.header .language-box {
  display: flex;
  justify-content: flex-end;
  width: 300px;
}
.header .language {
  position: relative;
}
.header .language .lang-btn {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: var(--color-black);
  font-weight: 700;
  gap: 0.2rem;
}
.header .language .lang-btn::after {
  display: block;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/icons/lang-btn-arrow.svg) no-repeat center center;
}
.header .language .lang-list {
  top: calc(100% + 1.2rem);
  left: calc(50% - 0.2rem);
  transform: translateX(-50%);
  position: absolute;
  display: none;
  background-color: #fff;
  width: auto;
  padding: 1.2rem 1.6rem;
  gap: 1.2rem;
  border: 1px solid #e2e3ea;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  border-radius: 1.6rem;
}
.header .language .lang-list .lang-item {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  color: var(--color-black);
  font-weight: 700;
  padding: 1rem;
  transition: all 0.2s;
}

.sec {
  position: relative;
  z-index: 50;
  /*.scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
  }*/
}
.sec .label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "DM-serif";
  font-size: 2rem;
  line-height: 1.08;
  border: 2px solid var(--color-black2);
  color: var(--color-black2);
  font-weight: 400;
  background-color: transparent;
  padding: 1rem 1.8rem;
  margin-bottom: 3.6rem;
  border-radius: 1.2rem;
}
.sec .label.dark {
  border-color: #fff;
  color: #fff;
}
.sec h2 {
  font-family: "DM-serif";
  font-size: 8rem;
  line-height: 1.1;
  font-weight: 400;
  text-align: left;
  margin-bottom: 8rem;
  letter-spacing: -0.01em;
}
.sec .badge {
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  background-color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #000;
}
.sec .badge.bg-green {
  background-color: #6bbc6e;
}
.sec .badge.bg-yellow {
  background-color: #fac02c;
}
.sec .badge.bg-purple {
  background-color: #9079b6;
}
.sec .badge.bg-red {
  background-color: #ea5550;
}
.sec .wrap {
  width: 1536px;
  margin: 0 auto;
  position: relative;
  max-width: 92%;
}
.sec[data-slide=visual] {
  position: relative;
  height: 100dvh;
  overflow: hidden;
  z-index: 20;
}
.sec[data-slide=visual] .section-wrap {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  background: url(../images/section1/visual-bg.png) no-repeat var(--color-bg) center center;
  background-size: cover;
}
.sec[data-slide=visual] .wrap {
  height: 100%;
  width: 1280px;
  padding-top: 6.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sec[data-slide=visual] .visual-logo {
  margin-bottom: 0;
}
.sec[data-slide=visual] .slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10.9rem;
  gap: 4rem;
  color: #fff;
  font-family: "DM-serif";
}
.sec[data-slide=visual] .slogan .top-text {
  font-size: 6rem;
  line-height: 1.1;
  font-weight: 400;
}
.sec[data-slide=visual] .slogan h3 {
  font-size: 8.4rem;
  line-height: 1.1;
  font-weight: 400;
  width: 71rem;
}
.sec[data-slide=visual] .slogan h3 .ai {
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 8.7rem;
  height: 6.5rem;
  position: relative;
  top: 0.5rem;
}
.sec[data-slide=visual] .visual-info {
  width: 100%;
  margin-top: 11.7rem;
}
.sec[data-slide=visual] .visual-info .time {
  font-size: 3.6rem;
  color: #fff;
  font-family: "DM-serif";
  line-height: 1.1;
  font-weight: 400;
  padding-bottom: 2.4rem;
}
.sec[data-slide=visual] .visual-info .info-item {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  width: 72rem;
}
.sec[data-slide=visual] .visual-pattern {
  position: absolute;
  right: 12rem;
  bottom: -10rem;
  width: 69rem;
  height: 67rem;
  transform: rotate(-45deg);
  background: url(../images/section1/ani-logo.png) no-repeat center center;
  background-size: 69rem 67rem;
  z-index: -1;
}
.sec[data-slide=overview] {
  overflow: hidden;
  background-color: #fff;
  margin-bottom: -5rem;
}
.sec[data-slide=overview].page-ani1 .page.page1 {
  position: fixed;
  z-index: 40;
  transition: all 0.5s;
}
.sec[data-slide=overview].page-ani1 .page.page2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 30;
  opacity: 0;
  transition: all 0.5s;
}
.sec[data-slide=overview].page-ani2 .page.page1 {
  position: fixed;
  opacity: 0;
  transition: all 0.5s;
  z-index: 40;
}
.sec[data-slide=overview].page-ani2 .page.page2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 1;
  transition: none;
}
.sec[data-slide=overview].page-ani-scroll .page.page1 {
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}
.sec[data-slide=overview].page-ani-scroll .page.page2 {
  position: absolute;
  left: 0;
  top: calc(50dvh + 1400px);
  width: 100%;
  z-index: 40;
  transition: opacity 0.5s;
}
.sec[data-slide=overview] .page-box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.sec[data-slide=overview] .page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.sec[data-slide=overview] .page1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  z-index: 40;
  background-color: #fff;
}
.sec[data-slide=overview] .page1::before {
  display: block;
  position: absolute;
  content: "";
  width: 120rem;
  height: 64.6rem;
  z-index: 10;
  left: calc(50% - 60rem + 19.5rem);
  top: calc(50% - 32.3rem - 4.3rem);
  background: url(../images/section2/bg1.svg) no-repeat center center;
  background-size: 120rem 64.6rem;
  opacity: 0.6;
  transition: all 0.4s;
}
.sec[data-slide=overview] .page2 {
  display: flex;
  flex-direction: column;
  z-index: 30;
}
.sec[data-slide=overview] .page2 .page-wrap::before {
  display: block;
  position: absolute;
  content: "";
  width: 66.7rem;
  height: 120rem;
  background: url(../images/section2/bg2.png) no-repeat center center;
  background-size: 66.7rem 120rem;
  right: calc(50% + 12.4rem);
  top: calc(50% - 74.9rem);
  opacity: 0.6;
  z-index: -1;
}
.sec[data-slide=overview] .page2 .page-wrap::after {
  display: block;
  position: absolute;
  content: "";
  width: 65.3rem;
  height: 120rem;
  background: url(../images/section2/bg3.png) no-repeat center center;
  background-size: 65.3rem 120rem;
  left: calc(50% + 10.3rem);
  top: calc(50% - 46.7rem);
  opacity: 0.6;
  z-index: -1;
}
.sec[data-slide=overview] .page2 .bg {
  display: block;
  position: absolute;
  content: "";
  top: calc(300vh + 1000px);
  left: 0;
  width: 100%;
  height: calc(200vh + 1000px);
  background: linear-gradient(to top, rgb(18, 24, 81) 75%, rgba(18, 24, 81, 0) 90%);
  z-index: 10; /* 콘텐츠 뒤로 */
  transform: translateY(0);
  transition: transform 0.1s ease-out;
}
.sec[data-slide=overview] .page-wrap {
  position: relative;
  z-index: 20;
  width: 1018px;
  max-width: 92%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  height: 100dvh;
}
.sec[data-slide=overview] .page-wrap p {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 700;
}
.sec[data-slide=overview] .theme-wrap {
  max-width: 92%;
  width: 1536px;
  margin-top: 25.4rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 20;
  max-width: 92%;
}
.sec[data-slide=overview] .theme-wrap .overview-slide .swiper-wrapper {
  display: flex;
  align-items: stretch;
  gap: 24px;
}
.sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide {
  display: block;
  flex: 1;
}
.sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide br {
  display: none;
}
.sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide .title {
  font-family: "DM-serif";
  display: block;
  height: 31rem;
  background-color: #ddd;
  padding: 5rem;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide .title .text {
  font-size: 5rem;
  font-weight: 400;
  color: var(--color-black);
  line-height: 1.1;
}
.sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide .con {
  background-color: #fff;
  padding: 4rem 5rem;
  text-align: left;
}
.sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide .con .text {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
}
.sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide[data-slide=theme] .title {
  background-image: url(../images/section2/theme.png);
}
.sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide[data-slide=program] .title {
  background-image: url(../images/section2/program.png);
}
.sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide[data-slide=benefits] .title {
  background-image: url(../images/section2/benefits.png);
}
.sec[data-slide=overview] .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12rem;
  padding-bottom: 15.4rem;
  position: relative;
  z-index: 20;
}
.sec[data-slide=overview] .btn-wrap .btn {
  z-index: 20;
  color: #fff;
  width: 49.5rem;
  height: 14.4rem;
  background: url(../images/section2/btn.png) no-repeat center center;
  padding: 2.8rem 2.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8rem;
}
.sec[data-slide=overview] .btn-wrap .btn .sub-text {
  font-size: 2.4rem;
}
.sec[data-slide=overview] .btn-wrap .btn .main-text {
  display: flex;
  align-items: center;
  font-size: 3.6rem;
  gap: 2rem;
  margin-left: 6.8rem;
}
.sec[data-slide=overview] .btn-wrap .btn .main-text::after {
  display: block;
  position: relative;
  content: "";
  width: 4.8rem;
  height: 2.4rem;
  background: url(../images/section2/btn-arrow.svg) no-repeat center center;
  background-size: contain;
}
.sec[data-slide=program] {
  background-color: var(--color-bg);
  color: #fff;
}
.sec[data-slide=program] h2 {
  position: relative;
  padding-bottom: 6rem;
}
.sec[data-slide=program] h2::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
.sec[data-slide=program] .wrap {
  width: 1536px;
  max-width: 92%;
  margin: 0 auto;
  padding: 18rem 0 7.3rem;
}
.sec[data-slide=program] .table .table-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-radius: 1.6rem;
  overflow: hidden;
}
.sec[data-slide=program] .table .table-item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.4rem;
}
.sec[data-slide=program] .table .table-item > * {
  padding: 2.4rem;
  background-color: #202769;
}
.sec[data-slide=program] .table .table-item .time,
.sec[data-slide=program] .table .table-item .during {
  font-family: "DM-serif";
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sec[data-slide=program] .table .table-item .time {
  min-width: 22.8rem;
  max-width: 22.8rem;
}
.sec[data-slide=program] .table .table-item .during {
  min-width: 14rem;
  max-width: 14rem;
}
.sec[data-slide=program] .table .table-item .introduce {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  flex: 1;
}
.sec[data-slide=program] .table .table-item .introduce .con {
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: 600;
}
.sec[data-slide=program] .table .table-item .speaker {
  min-width: 32rem;
  max-width: 32rem;
}
.sec[data-slide=program] .badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.sec[data-slide=program] .badges .hidden-badges {
  display: none;
}
.sec[data-slide=program] .badges .badge {
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  background-color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #000;
  white-space: pre;
}
.sec[data-slide=program] .badges .badge.bg-green {
  background-color: #00ffbd;
}
.sec[data-slide=program] .badges .badge.bg-green2 {
  background-color: #6bbc6e;
}
.sec[data-slide=program] .badges .badge.bg-yellow {
  background-color: #fac02c;
}
.sec[data-slide=program] .badges .badge.bg-purple {
  background-color: #9079b6;
}
.sec[data-slide=program] .badges .badge.bg-red {
  background-color: #ea5550;
}
.sec[data-slide=greeting] {
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  padding: 7rem 0 8.1rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--color-bg);
}
.sec[data-slide=greeting]::before {
  display: block;
  content: "";
  left: 50%;
  top: 30%;
  width: 80%;
  height: 150%;
  position: absolute;
  opacity: 0.2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  transform: rotate(320deg);
}
.sec[data-slide=greeting] h2 {
  margin-bottom: 8.8rem;
  color: #d6d6d6;
}
.sec[data-slide=greeting] .wrap {
  width: 1536px;
}
.sec[data-slide=greeting] .greeting {
  position: relative;
}
.sec[data-slide=greeting] .greeting p {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 500;
}
.sec[data-slide=greeting] .greeting p + p {
  margin-top: 2rem;
}
.sec[data-slide=greeting] .greeting .host-name {
  margin-top: 6.4rem;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 500;
  color: #fff;
}
.sec[data-slide=greeting] .greeting .host-name span {
  display: block;
}
.sec[data-slide=greeting] .greeting .host-img {
  display: block;
  position: absolute;
  bottom: -8.1rem;
  right: 0;
  width: 48rem;
  height: 64rem;
}
.sec[data-slide=speakers] {
  padding-top: 16rem;
  padding-bottom: 5.4rem;
  background-color: var(--color-bg);
  color: #fff;
}
.sec[data-slide=speakers] h2 {
  color: #d6d6d6;
}
.sec[data-slide=speakers] .wrap {
  width: 1536px;
  margin: 0 auto;
  position: relative;
}
.sec[data-slide=speakers] .slide-box {
  width: calc(50% + 50vw);
  overflow: hidden;
}
.sec[data-slide=speakers] .speakers-ctrl {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 1536px;
  left: 0;
  top: 21rem;
  gap: 0.9rem;
}
.sec[data-slide=speakers] .speakers-ctrl button {
  width: 6rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.sec[data-slide=speakers] .speakers-ctrl .slide-prev {
  background-image: url(../images/section5/nav-left.svg);
}
.sec[data-slide=speakers] .speakers-ctrl .slide-next {
  background-image: url(../images/section5/nav-right.svg);
}
.sec[data-slide=speakers] .speakers-slide {
  overflow: visible;
  padding-right: 5rem;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide {
  width: 37.2rem;
  height: 52rem;
  overflow: hidden;
  position: relative;
  border-radius: 2.4rem;
  background-color: transparent;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #455a5f 0%, #f4f6fb 100%);
  content: "";
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(69, 90, 95) 0%, rgb(104, 187, 105) 100%);
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide:hover::after {
  opacity: 1;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide .slide-wrap {
  display: flex;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 30;
  position: relative;
  padding: 2.4rem 2rem;
  color: #fff;
  width: 100%;
  height: 100%;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide .badge-wrap {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide .badge-wrap h3 {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 700;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide .badge {
  padding: 0.2rem 1.2rem;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide h4 {
  padding-left: 0.4rem;
  margin-top: 0.8rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #d0d0d0;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide h4 .sub-title {
  display: block;
  color: #d0d0d0;
  font-weight: 400;
  font-size: 1.4rem;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide .img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 42rem;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide .img img {
  display: block;
  width: inherit;
  height: inherit;
  -o-object-fit: contain;
     object-fit: contain;
}
.sec[data-slide=speakers] .speakers-slide .swiper-slide.empty .img {
  display: flex;
  align-items: flex-end;
  color: rgba(35, 24, 21, 0.6);
  font-family: "DM-serif";
  font-size: 5.2rem;
  line-height: 1.1;
  font-weight: 400;
  padding: 0 3.2rem 4.6rem;
  text-transform: uppercase;
}
.sec[data-slide=location] {
  padding-top: 16rem;
  background-color: var(--color-bg);
}
.sec[data-slide=location] .wrap {
  display: flex;
  gap: 1.6rem;
  align-items: stretch;
  padding-bottom: 20rem;
}
.sec[data-slide=location] .map {
  flex: 1 50%;
  height: 100%;
  min-height: 69.6rem;
  border-radius: 1.6rem;
  overflow: hidden;
  position: relative;
}
.sec[data-slide=location] .map img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  min-height: 69.6rem;
}
.sec[data-slide=location] .location-info {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  flex: 1 50%;
  background: linear-gradient(to bottom, rgb(104, 187, 105) 0%, rgba(104, 187, 105, 0.4) 100%);
  background-color: #fff;
  border-radius: 1.6rem;
  padding: 6rem 8rem 3.6rem;
}
.sec[data-slide=location] .location-info::after {
  content: "";
  position: absolute;
  inset: 0;
  filter: url(#monoNoise);
  background: rgba(0, 0, 0, 0.01);
  opacity: 0.2;
  mix-blend-mode: multiply; /* overlay, soft-light 등도 시도 가능 */
  pointer-events: none;
}
.sec[data-slide=location] .location-info .label {
  margin-bottom: 0.8rem;
}
.sec[data-slide=location] .location-info h2 {
  line-height: 1.2;
  color: #231815;
  margin-bottom: 2rem;
}
.sec[data-slide=location] .location-info .sub-title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.4;
}
.sec[data-slide=location] .location-info .location-box {
  margin-top: 6rem;
  padding: 6rem 4rem 4rem 4rem;
  position: relative;
}
.sec[data-slide=location] .location-info .location-box::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  content: "";
}
.sec[data-slide=location] .location-info .location-box h3 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 700;
}
.sec[data-slide=location] .location-info .location-box .location-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  margin-top: 1.6rem;
}
.sec[data-slide=location] .location-info .location-box .location-item {
  display: flex;
  width: 100%;
}
.sec[data-slide=location] .location-info .location-box .location-item .title {
  min-width: 8.4rem;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 600;
}
.sec[data-slide=location] .location-info .location-box .location-item .con {
  flex: 1;
  display: block;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
}
.sec[data-slide=location] .banner-box {
  padding-top: 18rem;
  padding-bottom: 14.3rem;
  height: 36rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(../images/section6/banner.png) no-repeat center center;
  background-size: cover;
  flex-direction: column;
  overflow: hidden;
}
.sec[data-slide=location] .banner-box .text {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
}
.sec[data-slide=location] .banner-box .banner-btn {
  margin-top: 4rem;
  background-color: #000;
  padding: 2rem 3.2rem;
  color: #fff;
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.sec[data-slide=location] .banner-box .banner-btn::after {
  display: block;
  content: "";
  width: 6rem;
  height: 2rem;
  background: url(../images/section5/nav-right.svg) no-repeat center center;
  background-size: contain;
}

.footer {
  position: relative;
  z-index: 50;
  padding: 6rem;
  background-color: var(--color-black);
  height: 22.9rem;
  color: #4f4f4f;
}
.footer .wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer .footer-left .text {
  margin-top: 3.6rem;
  display: flex;
  gap: 12px;
  align-items: center;
}
.footer .footer-left .text span {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.6rem;
}
.footer .footer-right {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.6rem;
}

.modal-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.modal-box.active {
  display: flex;
}
.modal-box > .close {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
}
.modal-box .modal {
  position: relative;
  background-color: #fff;
  padding-bottom: 4rem;
  width: 76rem;
  height: 72rem;
  padding: 8rem 6.4rem 4rem 6rem;
  overflow-y: auto;
}
.modal-box .modal .modal-wrap {
  display: flex;
  gap: 2.4rem;
  max-width: 90vw;
  max-height: 90vh;
  position: relative;
}
.modal-box .modal > .close {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/icons/close.svg) no-repeat center center;
  right: 2.4rem;
  top: 2.4rem;
  color: transparent;
}
.modal-box .modal .con-wrap {
  color: #000;
  flex: 1;
}
.modal-box .modal .con-wrap .title h2 {
  font-family: "DM-serif", "pretendard";
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 400;
}
.modal-box .modal .con-wrap .title .role {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
}
.modal-box .modal .con-wrap .title .company {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 700;
}
.modal-box .modal .con-wrap .con {
  margin-top: 4rem;
  height: auto;
}
.modal-box .modal .con-wrap .con::-webkit-scrollbar {
  width: 0.8rem; /* For vertical scrollbars */
  height: 0.8rem; /* For horizontal scrollbars */
}
.modal-box .modal .con-wrap .con::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.modal-box .modal .con-wrap .con::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px; /* Rounded corners for the thumb */
}
.modal-box .modal .con-wrap .con p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  color: #121212;
  word-break: keep-all;
}
.modal-box .modal .photo {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 1.6rem;
  width: 16rem;
  height: 19rem;
  background: linear-gradient(to bottom, #455a5f 0%, #f4f6fb 100%);
}
.modal-box .modal .photo img {
  display: block;
  position: absolute;
  width: 18.6rem;
  height: 21rem;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: -2.4rem;
  right: -0.2rem;
}

html[lang=en] .sec[data-slide=greeting] .greeting {
  padding-right: calc(100% - 88rem);
}
html[lang=en] .sec[data-slide=speakers] .speakers-slide .swiper-slide .badge-wrap {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.6rem;
}
html[lang=en] .sec[data-slide=speakers] .speakers-slide .swiper-slide h4 {
  margin-top: 1rem;
}
html[lang=en] .sec[data-slide=location] .map {
  min-height: 74.1rem;
}
html[lang=en] .sec[data-slide=location] .map img {
  position: absolute;
}
html[lang=en] .sec[data-slide=location] .banner-box {
  padding-left: calc(50% - 670px);
  padding-right: calc(50% - 670px);
}
html[lang=en] .sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide {
  height: 49.8rem;
}
html[lang=en] .sec[data-slide=overview] .page-wrap p {
  height: 36rem;
}

.sec .label {
  transition: all 0.7s;
  transition-delay: 0.2s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec h2 {
  transition: all 0.7s;
  transition-delay: 0.5s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=visual] .visual-logo {
  transition: all 0.7s;
  transition-delay: 0.3s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=visual] .slogan .top-text {
  transition: all 0.7s;
  transition-delay: 0.5s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=visual] .slogan h3 {
  transition: all 0.7s;
  transition-delay: 0.7s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=visual] .visual-info {
  transition: all 0.7s;
  transition-delay: 0.9s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=visual] .visual-pattern {
  transition: all 0.7s;
  transition-delay: 1s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=overview] p {
  transition: all 0.7s;
  transition-delay: 0.8s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=overview] .theme-wrap {
  transition: all 0.7s;
  transition-delay: 0s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=overview] .btn-wrap {
  transition: all 0.7s;
  transition-delay: 0.2s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=program] .table .table-item:nth-child(1) {
  transition: all 0.7s;
  transition-delay: 0.9s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=program] .table .table-item:nth-child(2) {
  transition: all 0.7s;
  transition-delay: 1.2s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=program] .table .table-item:nth-child(3) {
  transition: all 0.7s;
  transition-delay: 1.5s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=program] .table .table-item:nth-child(4) {
  transition: all 0.7s;
  transition-delay: 1.8s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=program] .table .table-item:nth-child(5) {
  transition: all 0.7s;
  transition-delay: 2s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=program] .table .table-item:nth-child(6) {
  transition: all 0.7s;
  transition-delay: 2.2s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=program] .table .table-item:nth-child(7) {
  transition: all 0.7s;
  transition-delay: 2.3s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=program] .table .table-item:nth-child(8) {
  transition: all 0.7s;
  transition-delay: 2.4s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=greeting] .greeting {
  transition: all 0.7s;
  transition-delay: 0.7s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=greeting] .greeting .host-img {
  transition: all 0.7s;
  transition-delay: 1s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=speakers] .speakers-ctrl {
  transition: all 0.7s;
  transition-delay: 0.7s;
  transform: translateY(20rem);
  opacity: 0;
  transform: translateY(0);
}
.sec[data-slide=speakers] .speakers-slide {
  transition: all 0.7s;
  transition-delay: 0.7s;
  transform: translateY(20rem);
  opacity: 0;
  transform: translateY(0) translateX(30rem);
}
.sec[data-slide=location] .map {
  transition: all 0.7s;
  transition-delay: 0.3s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=location] .location-info {
  transition: all 0.7s;
  transition-delay: 0.5s;
  transform: translateY(20rem);
  opacity: 0;
}
.sec[data-slide=location] .location-info h2,
.sec[data-slide=location] .location-info .label {
  transition: none;
  transform: translateY(0);
  opacity: 1;
}
.sec[data-slide=location] .banner-wrap .banner-box .text {
  transition: all 0.7s;
  transition-delay: 0s;
  transform: translateY(5rem);
  opacity: 0;
}
.sec[data-slide=location] .banner-wrap .banner-box .banner-btn {
  transition: all 0.7s;
  transition-delay: 0.3s;
  transform: translateY(5rem);
  opacity: 0;
}
.sec.active .label {
  transform: translateY(0);
  opacity: 1;
}
.sec.active h2 {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=visual] .visual-logo {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=visual] .slogan .top-text {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=visual] .slogan h3 {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=visual] .visual-info {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=visual] .visual-pattern {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=overview] p {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=overview].page-ani-scroll .theme-wrap {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=overview].page-ani-scroll .btn-wrap {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=program] .table .table-item:nth-child(1),
.sec.active[data-slide=program] .table .table-item:nth-child(2),
.sec.active[data-slide=program] .table .table-item:nth-child(3),
.sec.active[data-slide=program] .table .table-item:nth-child(4),
.sec.active[data-slide=program] .table .table-item:nth-child(5),
.sec.active[data-slide=program] .table .table-item:nth-child(6),
.sec.active[data-slide=program] .table .table-item:nth-child(7),
.sec.active[data-slide=program] .table .table-item:nth-child(8) {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=greeting] .greeting {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=greeting] .greeting .host-img {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=speakers] .speakers-ctrl {
  opacity: 1;
}
.sec.active[data-slide=speakers] .speakers-slide {
  transform: translateX(0);
  opacity: 1;
}
.sec.active[data-slide=location] .map {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=location] .location-info {
  transform: translateY(0);
  opacity: 1;
}
.sec.active[data-slide=location] .banner-wrap .banner-box.active .text,
.sec.active[data-slide=location] .banner-wrap .banner-box.active .banner-btn {
  transform: translateY(0);
  opacity: 1;
}

@media all and (max-width: 1600px) {
  html,
  body {
    font-size: 9.5px;
  }
  .sec[data-slide=overview] .theme-wrap {
    max-width: 96%;
    margin-left: 4%;
    margin-right: 0;
  }
  .sec[data-slide=overview] .theme-wrap .swiper {
    padding-right: 4%;
  }
  html[lang=en] .sec[data-slide=greeting] .greeting {
    padding-right: 50rem;
  }
  .sec.active[data-slide=speakers] .speakers-ctrl {
    width: 100%;
  }
}
@media all and (max-width: 1300px) {
  .sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide .con {
    height: 19rem;
  }
}
@media all and (max-width: 1200px) {
  html,
  body {
    font-size: 8px;
  }
  .header .gnb .menu-btn {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/icons/menu.svg) no-repeat center center;
    background-size: 24px 24px;
  }
  .header .gnb .menu-btn.active {
    background-image: url(../images/icons/menu-close.svg);
  }
  .header .gnb .menu-btn.active + .menu {
    display: block;
  }
  .header .gnb .menu-btn + .menu {
    display: none;
    position: absolute;
    top: calc(100% + 20px);
    right: 18px;
    width: calc(100% - 36px);
  }
  .header .gnb .menu-btn + .menu .menu-list {
    background-color: #fff;
    border-radius: 16px;
    flex-direction: column;
    font-family: "DM-serif";
    gap: 0;
  }
  .header .gnb .menu-btn + .menu .menu-item {
    width: 100%;
  }
  .header .gnb .menu-btn + .menu .menu-item .menu-anchor {
    position: relative;
    padding: 24px 20px;
    font-size: 24px;
    width: 100%;
    display: block;
    text-align: left;
  }
  .header .gnb .menu-btn + .menu .menu-item .menu-anchor::after {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
  }
  .header .gnb .menu-btn + .menu .menu-item:last-child .menu-anchor::after {
    display: none;
  }
  .header .gnb .menu-btn + .menu .lang-list {
    width: 100%;
    display: flex;
    position: absolute;
    top: calc(100% + 12px);
    justify-content: flex-end;
    gap: 25px;
  }
  .header .gnb .menu-btn + .menu .lang-item {
    position: relative;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
  }
  .header .gnb .menu-btn + .menu .lang-item:last-child::before {
    display: block;
    position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    left: -12px;
    top: calc(50% - 5px);
  }
  .header .gnb .menu {
    display: none;
  }
  .header .gnb .lang-list {
    display: block;
  }
  .header .language-box {
    display: none;
  }
  .sec[data-slide=location] .map,
  .sec[data-slide=location] .location-info {
    height: 71rem;
  }
  .sec[data-slide=location] .location-info {
    padding: 4rem 6rem 3rem;
  }
}
@media all and (max-width: 1000px) {
  .sec[data-slide=visual] .visual-pattern {
    zoom: 0.7;
  }
  .sec[data-slide=location] .wrap {
    flex-direction: column;
  }
  .sec[data-slide=location] .map {
    transition-delay: 0.3s;
  }
  .sec[data-slide=location] .location-info {
    transition-delay: 1s;
  }
  .sec[data-slide=location] .location-info .location-box .location-item .con {
    font-size: 2rem;
  }
  .sec[data-slide=location] .banner-box {
    padding-left: 4rem;
    padding-right: 4rem;
    word-break: keep-all;
  }
  .sec[data-slide=location] .banner-box .text {
    font-size: 3.2rem;
  }
  .sec[data-slide=program] .table .table-item .speaker {
    min-width: 27rem;
    max-width: 27rem;
  }
  .sec[data-slide=greeting] .greeting .host-img {
    transform: scale(0.8);
    transform-origin: bottom right;
  }
  html[lang=en] .sec[data-slide=greeting] .greeting {
    padding-right: 35rem;
  }
  html[lang=en] .sec[data-slide=location] .map,
  html[lang=en] .sec[data-slide=location] .location-info {
    min-height: 74rem;
  }
  html[lang=en] .sec[data-slide=location] .banner-box {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media all and (max-width: 800px) {
  html,
  body {
    font-size: 6px;
  }
  .header {
    height: 64px;
  }
  .header .logos {
    gap: 16px;
  }
  .header .logo img {
    zoom: 0.73;
  }
  .header .language .lang-btn {
    gap: 4px;
    font-size: 14px;
  }
  .header .language .lang-item {
    font-size: 14px;
  }
  .sec[data-slide=program] .wrap {
    padding-top: 4rem;
  }
  .sec[data-slide=location] {
    padding-top: 10rem;
  }
  /*.sec[data-slide="location"] {
    padding-top: 4rem;
    .wrap {
      padding-bottom: 6rem;
    }
    .location-info {
      padding: 0;
      background: none;
      color: #fff;
      &::after {
        display: none;
      }
      .label {
        border-color: #fff;
        color: #fff;
      }
      h2 {
        color: #d6d6d6;
      }
      .location-box {
        padding-left: 1rem;
        padding-right: 1rem;
        &::before {
          background-color: #fff;
        }
        h3 {
          font-size: 3.2rem;
        }
        .location-list {
          gap: 2rem;
        }
        .location-item {
          flex-direction: column;
          gap: 2px;
          .title,
          .con {
            font-size: 14px;
          }
          .con {
          }
        }
      }
    }
  }*/
}
@media all and (max-width: 600px) {
  .label {
    font-size: 14px;
  }
  h2 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 32px;
  }
  .sec[data-slide=visual] .wrap {
    margin-top: 64px;
    padding-top: 90px;
    justify-content: flex-start;
  }
  .sec[data-slide=visual] .visual-logo {
    width: 154px;
    height: 27px;
  }
  .sec[data-slide=visual] .slogan {
    margin-top: 29px;
    gap: 12px;
  }
  .sec[data-slide=visual] .slogan .top-text {
    font-size: 24px;
  }
  .sec[data-slide=visual] .slogan h3 {
    font-size: 32px;
  }
  .sec[data-slide=visual] .slogan h3 img {
    zoom: 0.6;
  }
  .sec[data-slide=visual] .visual-info {
    margin-top: 60px;
  }
  .sec[data-slide=visual] .visual-info .time {
    font-size: 20px;
    margin-bottom: 24px;
    padding-bottom: 0;
  }
  .sec[data-slide=visual] .visual-info .info-item {
    font-size: 14px;
  }
  .sec[data-slide=visual] .visual-info .info-item span {
    font-weight: 500;
  }
  .sec[data-slide=visual] .visual-pattern {
    zoom: 0.6;
  }
  .sec[data-slide=overview] h2 br {
    display: none;
  }
  .sec[data-slide=overview] .page-wrap p {
    height: 34rem;
    font-size: 18px;
  }
  .sec[data-slide=overview] .theme-wrap .overview-slide .swiper-wrapper {
    flex-direction: column;
  }
  .sec[data-slide=overview] .theme-wrap .overview-slide .swiper-slide .con {
    height: auto;
  }
  .sec[data-slide=program] {
    /*  .table {
      .table-list {
        gap: 8px;
      }
      .table-item {
        flex-wrap: wrap;
        gap: 0;
        border-radius: 1.6rem;
        overflow: hidden;
        .time,
        .during,
        .introduce,
        .speaker {
          min-width: 0;
          max-width: none;
        }
        .time {
          width: 20rem;
        }
        .during {
          width: calc(100% - 20rem);
          justify-content: flex-start;
          position: relative;
          &::before {
            display: block;
            position: absolute;
            left: -0.3rem;
            top: calc(50% - 1rem);
            width: 1px;
            height: 1.6rem;
            background-color: var(--color-black);
            content: "";
          }
        }
        .introduce {
          display: block;
          width: 100%;
          margin-top: 2px;
          .badges {
            margin-bottom: 6px;
            .badge {
              font-size: 12px;
            }
            .hidden-badges {
              display: inline-flex;
              gap: 2px;
            }
          }
        }
        .speaker {
          display: none;
        }
      }
    }*/
  }
  .sec[data-slide=program] .table {
    overflow-x: auto;
  }
  .sec[data-slide=program] .table .table-list {
    min-width: 645px;
    border-radius: 0;
  }
  .sec[data-slide=greeting] {
    padding-bottom: 0;
  }
  .sec[data-slide=greeting] .greeting p {
    font-size: 18px;
  }
  .sec[data-slide=greeting] .greeting p br {
    display: none;
  }
  .sec[data-slide=greeting] .greeting .host-name {
    font-size: 18px;
  }
  .sec[data-slide=greeting] .greeting .host-img {
    position: relative;
    margin-top: 10px;
    top: calc(100% - 12rem);
    transform: scale(1);
    zoom: 0.8;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    bottom: auto;
  }
  .sec[data-slide=speakers] h2 {
    margin-bottom: 24px;
  }
  .sec[data-slide=speakers] .speakers-ctrl {
    width: 100%;
    position: relative;
    justify-content: flex-start;
    top: 0;
    margin-bottom: 60px;
  }
  .sec[data-slide=speakers] .speakers-ctrl button {
    width: 49px;
    height: 18px;
  }
  .sec[data-slide=speakers] .speakers-slide .swiper-slide {
    width: 283px;
    height: 396px;
  }
  .sec[data-slide=speakers] .speakers-slide .swiper-slide .badge {
    font-size: 14px;
    padding: 1px 8px;
  }
  .sec[data-slide=speakers] .speakers-slide .swiper-slide .badge-wrap h3 {
    font-size: 20px;
  }
  .sec[data-slide=speakers] .speakers-slide .swiper-slide h4 {
    font-size: 14px;
  }
  .sec[data-slide=speakers] .speakers-slide .swiper-slide h4 .sub-title {
    font-size: 12px;
  }
  .sec[data-slide=speakers] .speakers-slide .swiper-slide .img {
    width: 100%;
    height: 319px;
  }
  .sec[data-slide=location] {
    padding-top: 50px;
  }
  .sec[data-slide=location] .wrap {
    padding-bottom: 100px;
  }
  .sec[data-slide=location] .map {
    height: 308px;
  }
  .sec[data-slide=location] .location-info {
    padding: 40px 20px;
  }
  .sec[data-slide=location] .location-info h2 br {
    display: none;
  }
  .sec[data-slide=location] .location-info .sub-title {
    font-size: 16px;
  }
  .sec[data-slide=location] .location-info .location-box {
    margin-top: 30px;
    padding: 30px 0 0 0;
  }
  .sec[data-slide=location] .location-info .location-box h3 {
    font-size: 16px;
  }
  .sec[data-slide=location] .location-info .location-box .location-list {
    gap: 12px;
  }
  .sec[data-slide=location] .location-info .location-box .location-item {
    font-size: 14px;
  }
  .sec[data-slide=location] .location-info .location-box .location-item .title {
    font-size: inherit;
    width: 84px;
  }
  .sec[data-slide=location] .location-info .location-box .location-item .con {
    font-size: inherit;
  }
  .sec[data-slide=location] .wrap {
    gap: 16px;
  }
  .sec[data-slide=location] .banner-box {
    height: 480px;
  }
  .sec[data-slide=location] .banner-box .text {
    font-size: 20px;
  }
  .sec[data-slide=location] .banner-box .banner-btn {
    width: 100%;
    max-width: 290px;
    justify-content: space-between;
    font-size: 18px;
    padding: 16px 28px;
  }
  .modal-box .modal {
    padding-top: 44px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    height: 90%;
  }
  .modal-box .modal .modal-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0 18px 20px;
    overflow: auto;
    height: 100%;
  }
  .modal-box .modal .modal-wrap .con-wrap {
    flex: 100%;
    width: 100%;
  }
  .modal-box .modal .modal-wrap h2 {
    font-size: 40px;
    margin-top: 36px;
    margin-bottom: 8px;
  }
  .modal-box .modal .modal-wrap .title .role {
    margin-top: 0;
    font-size: 16px;
  }
  .modal-box .modal .modal-wrap .title .company {
    font-size: 16px;
  }
  .modal-box .modal .modal-wrap .con {
    margin-top: 40px;
  }
  .modal-box .modal .modal-wrap .con p {
    font-size: 16px;
  }
  .modal-box .modal .photo {
    margin-top: 24px;
    width: 160px;
    height: 190px;
  }
  .modal-box .modal .photo img {
    width: 186px;
    height: 210px;
  }
  .modal-box .modal > .close {
    top: 20px;
    right: 18px;
  }
  .footer {
    height: auto;
    padding: 40px 4%;
  }
  .footer .wrap {
    display: block;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .footer-left .text {
    margin-top: 32px;
  }
  .footer .footer-left .text span {
    font-size: 16px;
  }
  .footer .footer-right {
    margin-top: 24px;
    font-size: 16px;
  }
  html[lang=en] .sec[data-slide=greeting] .greeting {
    padding-right: 5rem;
  }
}
@media all and (max-width: 480px) {
  .sec[data-slide=visual] .slogan h3 {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */